/*=============================================
GLOBAL
=============================================*/
* {
  font-family: "Ubuntu", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
input,
textarea,
select,
button,
h1 span {
  font-family: "Open Sans", sans-serif;
  font-weight: 100;
}

ul,
ol {
  list-style: none;
}

a:visited,
a:link,
a:focus,
a:hover,
a:active {
  list-style: none;
  text-decoration: none;
}

.fc-today {
  background: rgba(255, 255, 255, 0) !important;
}

/* 1.3: Buttons */
.btn {
    cursor: pointer;
    z-index: 1;
    position: relative;
    padding: 16px 36px;
    color: #5b39c9;
    font-weight: 600;
    text-transform: capitalize;
    overflow: hidden;
    border: 2px solid #5b39c9;
    border-radius: 50px;
    overflow: hidden;
    -webkit-transition: .3s all linear;
    transition: .3s all linear;
    font-size: 14px;
}

.btn.active,
.btn:hover,
.btn:focus {
    color: #fff;
    text-decoration: none;
}
.btn:before {
    content: " ";
    position: absolute;
    top: 48%;
    left: 48%;
    z-index: -1;
    -webkit-transform: scale(0);
            transform: scale(0);
    width: 11px;
    height: 11px;
    -webkit-transition: .3s all linear;
    transition: .3s all linear;
    opacity: 0;
    visibility: hidden;
    background: #5b39c9;
    border-radius: 50px;

}
.btn:hover{
    border-color: #5b39c9;
}
.btn:hover:before{
    -webkit-transform: scale(20);
            transform: scale(20);
    opacity: 1;
    visibility: visible;
    
}

.btn:focus,
.form-control:focus {
    box-shadow: none !important;
}

.disabled { pointer-events: none; }

.bg-2 {
    background-color: #f7f6f9;
}
 ul,li{
     margin-bottom: 0;
     list-style: none;
     padding: 0;
 }

.font-weight-600 { font-weight: 600; }
b, strong {
    font-weight: bold;
}
.list-inline > li { display: inline-block; }

.form-control { font-size: 14px; }
.form-control:focus { border-color: #fff; }

input.parsley-error,
textarea.parsley-error,
select.parsley-error {
    border: 1px solid red !important;
}
.half-gutter {
    margin-right: -7.5px;
    margin-left: -7.5px;
}
.half-gutter > .col,
.half-gutter > [class*="col-"] {
    padding-right: 7.5px;
    padding-left: 7.5px;
}
.no-gutters-padding{
    padding-right: 0px;
    padding-left: 0px;
}


.theme-list-style {
    padding: 0;
    list-style: none;
}
.theme-list-style li {
    font-weight: 600;
    color: #4c4f60;
    padding: 5px 0;
}
.theme-list-style li:before {
    content: '\f05d';
    font-family: 'FontAwesome';
    color: #6f6c7f;
    font-size: 12px;
    font-weight: normal;
    margin-right: 10px;
}

.theme-input-style {
    font-size: 16px;
    width: 100%;
    height: 70px;
    padding: 0 20px 0;
    -webkit-transition: all .2s;
    transition: all .2s;
    background: transparent;
    border: none;
    border: 4px solid #f7f6f9;
    opacity: 1;
    border-radius: 10px;
    color: #6f6c7f;
    margin-bottom: 30px;
}

textarea.theme-input-style {
    padding: 10px;
    min-height: 120px;
    display: block;
}

label input[type=checkbox],
label input[type=radio] {
    position: relative;
    top: 2px;
    margin-right: 5px;
}

.form-group { position: relative; }

.table-bordered,
.table-bordered td, 
.table-bordered th {
    border-color: #e2e6fb;
}

.alignleft {
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
    margin-bottom: 15px;
}
.aligncenter {
    clear: both;
    display: block;
    margin: 0 auto 15px;
}

/*=============================================
HEADER
=============================================*/

header {
  position: fixed;
  top: 0;
  z-index: 3;
}

header .grid-container {
  display: grid;
  grid-template-columns: 3fr 5fr 1fr 1fr 1fr 1fr;
}

header .grid-item {
  text-align: center;
}

header .bloqueReservas {
  position: relative;
}

header .bloqueReservas .campana-y-reserva {
  background: #fffbee;
  cursor: pointer;
}

header .bloqueReservas .fa-concierge-bell {
  font-size: 25px;
  color: #847059;
}

header .bloqueReservas .fa-caret-down,
header .bloqueReservas .fa-caret-up {
  font-size: 25px;
  color: #236aa1;
}

header .formReservas {
  position: absolute;
  top: 52px;
  width: 350px;
  height: auto;
  left: 0px;
  z-index: 2;
  background: rgba(0, 83, 147, 0.8);
}

header .formReservas .input-group-lg input,
header .formReservas select {
  font-size: 14px;
}

header .formReservas input[type="submit"] {
  background: black;
  font-size: 16px;
}

header .fa-user {
  font-size: 25px;
  color: #dfdad4;
  cursor: pointer;
}

header .idiomas span {
  cursor: pointer;
}

header .botonMenu i {
  font-size: 30px;
  color: #b5a99b;
  cursor: pointer;
}

/*=============================================
MENU
=============================================*/
nav.menu {
  position: fixed;
  z-index: 10;
  top: 60px;
  background-color: black;
  display: none;
}

nav.menu li > .nav-link {
  transition: 0.5s all;
}

nav.menu li:hover > .nav-link {
  background: #197db1;
  transition: 0.5s all;
}

.menuMovil {
  display: none;
  position: fixed;
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 90vh;
  z-index: 2;
  overflow-x: hidden;
}

.menuMovil .formReservas input[type="button"] {
  background: black;
  font-size: 16px;
}

.menuMovil .formReservas {
  background: rgba(0, 83, 147, 0.8);
  position: relative;
  top: 23px;
}

.menuMovil .nav {
  background-color: black !important;
}

/*=============================================
BANNER
=============================================*/

.banner .fade-slider {
  position: relative;
}

.banner .verMas {
  position: absolute;
  width: 60px;
  line-height: 60px;
  bottom: 5%;
  left: 50%;
  font-size: 30px;
  transform: translate(-50%, 0%);
  cursor: pointer;
}

/*=============================================
PLANES
=============================================*/
.planes .grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.planes .grid-item {
  position: relative;
  cursor: pointer;
}

.planes .grid-item:nth-child(1) {
  grid-column: 1 / span 3;
}

.planes .grid-item:nth-child(2) {
  grid-column: 4 / span 3;
  height: 320px;
  overflow: hidden;
}

.planes .grid-item:nth-child(3) {
  grid-column: 1 / span 2;
}

.planes .grid-item:nth-child(4) {
  grid-column: 3 / span 2;
}

.planes .grid-item:nth-child(5) {
  grid-column: 5 / span 2;
}

.planes .grid-item figure {
  position: absolute;
  bottom: -16px;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  color: white;
}

.planes .grid-item figure h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px !important;
}

.planesMovil li {
  overflow: hidden;
}

.planesMovil img {
  width: 200% !important;
}

/*=============================================
HABITACIONES
=============================================*/

.habitaciones .row div[class*="col"] figure {
  position: relative;
  overflow: hidden;
}

.habitaciones .row div[class*="col"] figure img {
  transform: scale(1, 1);
  transition: 1s all;
}

.habitaciones .row div[class*="col"] figure img:hover {
  transform: scale(1.1, 1.1);
  transition: 1s all;
}

.habitaciones .row div[class*="col"] figure h1 {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s all;
}

.habitaciones .row div[class*="col"] figure h1:hover {
  filter: invert(100%);
  transition: 0.3s all;
}

.habitaciones .row div[class*="col"] figure p {
  background: black;
  color: #aaa;
  padding-left: 0;
  padding-right: 0;
}

.habitaciones .row div[class*="col"] figure h3 {
  background: #ffd185;
}

.habitaciones .row div[class*="col"] figure h5 {
  color: #777;
}

/*=============================================
RECORRIDO PUEBLO
=============================================*/

.recorridoPueblo .grid-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.recorridoPueblo .grid-item {
  text-align: center;
}

.recorridoPueblo .grid-item:nth-child(1) {
  grid-row: 1 / span 1;
}

.recorridoPueblo .grid-item:nth-child(2) {
  grid-row: 2 / span 1;
}

.recorridoPueblo .grid-item:nth-child(3) {
  grid-row: 1 / span 2;
}

/*=============================================
RESTAURANTE
=============================================*/

.fondoRestaurante {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  height: 1000px;
  background-color: white;
  background-image: url("../img/restaurante.png");
  background-position: center top;
  background-repeat: repeat-y;
}

.restaurante .grid-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.restaurante .grid-item {
  text-align: center;
  color: white;
}

.restaurante .grid-item:nth-child(2) {
  position: relative;
  z-index: 1;
  top: -60px;
  height: 600px;
  background: #847059;
}

.restaurante .carta div[class*="col"] {
  text-align: center;
}

.restaurante .carta img {
  border: 3px solid white;
}

.contactenos {
  position: relative;
  margin-top: -80px;
}

/*=============================================
MAPA
=============================================*/

.mapa {
  position: relative;
}

.mapa .info {
  color: #8b7556;
  position: absolute;
  width: 400px;
  right: 10%;
  top: 10%;
  background-color: #ffcc29;
  height: 370px;
}

.mapa .info h3 {
  font-weight: bold;
}

/*=============================================
FOOTER
=============================================*/

footer .grid-container {
  display: grid;
  grid-template-columns: 2fr 4fr 2fr;
}

footer .grid-item {
  background-color: #5b39c9;
  text-align: center;
  color: white;
}

.redesMovil {
  visibility: hidden;
  position: fixed;
  bottom: 0px;
  z-index: 2;
  width: 100%;
  background: #197db1;
}

/*=============================================
SCROLL UP
=============================================*/
#scrollUp {
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  background: url(../img/flecha.jpg);
}

/*=============================================
TABLET VERTICAL (MD revisamos en 768px hacia abajo)
=============================================*/

@media (max-width: 768px) {
  header .grid-container {
    grid-template-columns: 4fr 1fr;
  }

  .planes .grid-container {
    grid-template-columns: auto;
  }

  .habitaciones .row div[class*="col"] figure p {
    padding-left: 4px;
    padding-right: 4px;
  }

  .recorridoPueblo .grid-container {
    grid-template-columns: 1fr;
  }

  .recorridoPueblo .grid-container h1 {
    font-size: 30px;
  }

  .restaurante .grid-container {
    grid-template-columns: 1fr;
  }

  .restaurante h1 {
    font-size: 30px;
  }

  .restaurante .grid-item:nth-child(2) {
    height: 400px;
    background: rgba(81, 69, 55, 0.9);
  }

  .contactenos input {
    width: 100% !important;
    margin: 10px 0px !important;
  }

  .mapa .info {
    position: absolute;
    width: 90%;
    left: 50%;
    top: 100px;
    transform: translate(-50%, 0%);
    background-color: #ffcc29;
    height: 350px;
  }

  footer .grid-container {
    grid-template-columns: 1fr;
  }

  .redesMovil {
    visibility: visible;
  }
}

/* =====================================================
        Our Blog
===================================================== */

.single-blog-inner .post-date p {
  margin-bottom: 0;
  line-height: 25px;
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
  color: #36324a;
  font-weight: 600;
}

.single-blog-inner .post-image {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

.single-blog-inner .post-date {
  position: absolute;
  top: 10px;
  height: 65px;
  width: 65px;
  background: #fff;
  border-radius: 50%;
  left: 10px;
  text-align: center;
  line-height: 65px;
}
.single-blog-inner .post-title h3 {
  margin-top: -7px;
  margin-bottom: 30px;
  font-weight: 600;
  font-size: 25px;
  line-height: 36px;
}
.single-blog-inner .post-title h3 a {
  -webkit-transition: 0.3s all linear;
  transition: 0.3s all linear;
  color: #36324a;
}
.single-blog-inner .post-title h3:hover a {
  color: #f77ade;
}

.single-blog-inner {
  margin-bottom: 30px;
  background: #fff;
}

.single-blog-inner .post-details p {
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 16px;
  color: #6f6c7f;
}
.single-blog-inner .post-details a {
  -webkit-transition: 0.3s all linear;
  transition: 0.3s all linear;
}

.single-blog-inner .post-details a:hover {
  color: #f77ade;
}
.post-details {
  padding: 47px 0 0 0;
}
.single-blog-inner:hover .post-image {
  box-shadow: 0 13px 30px rgba(0, 0, 0, 0.2);
}
.post-image {
  -webkit-transition: 0.3s all linear;
  transition: 0.3s all linear;
}
.single-blog-inner .post-info {
  margin-bottom: 14px;
}

.single-blog-inner .post-info a {
  color: #f77ade;
  font-weight: 500;
  font-size: 14px;
  line-height: 1;
  position: relative;
}
.single-blog-inner .post-info a + a {
  margin-left: 30px;
}
.single-blog-inner .post-info a + a:before {
  content: "";
  position: absolute;
  height: 2px;
  width: 2px;
  background: #f77ade;
  left: -15px;
  bottom: 2px;
}
.single-blog-inner .post-image img {
  width: 100%;
}
.single-blog-inner .post-details .blog-btn:hover,
.single-blog-inner .post-details .blog-btn {
  color: #5b39c9;
  position: relative;
}
.single-blog-inner .post-details .blog-btn {
  font-size: 14px;
  font-weight: 500;
}
.post-date p span {
  display: block;
  line-height: 1;
}
.single-blog-inner .post-details .blog-btn:after {
  content: "";
  height: 1px;
  width: 100%;
  background: #5b39c9;
  position: absolute;
  bottom: 2px;
  left: 0;
  -webkit-transition: 0.3s all linear;
  transition: 0.3s all linear;
  visibility: hidden;
  opacity: 0;
}
.single-blog-inner .post-details .blog-btn:hover:after {
  visibility: visible;
  opacity: 1;
}
/* ==============================================
        blog page 
==============================================*/
.blog-list-inner .post-details {
  padding: 39px 0 0 0;
}
.blog-list-inner .single-blog-inner .post-details p {
  margin-bottom: 34px;
}
.blog-list-inner .single-blog-inner {
  margin-bottom: 50px;
}

.blog-list-inner .single-blog-inner:hover .post-image {
  box-shadow: none;
}
.blog-list-inner .single-blog-inner:hover .post-details .btn {
  color: #fff !important;
  background-color: #5b39c9 !important;
}
.blog-list-inner .single-blog-inner:hover .post-details .btn:before {
  background-color: #5b39c9;
  opacity: 1;
  visibility: visible;
  -webkit-transform: scale(20);
  transform: scale(20);
}
.blog-list-inner .single-blog-inner .post-details .btn:hover {
  border-color: #5b39c9;
}

.habitacion-section {
  margin-top: 15px;
}

.content-logo {
  height: 8vh;
}


.logonutrifeel{
padding: 1px;
	height: 100%;
}

.nav-icon-social{
    display: flex;
	height: 80%;
    width: 100%;
    padding: 1px;
    align-items: center;
}